{% extends 'base.html' %}
{% block title %}Choose Analysis{% endblock %}

{% block content %}
<p>The names of genomes present in the file are:</p>
<p style="color:#bee3ff;">{{result_names}}</p> <br/>

<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-return-left" viewBox="0 0 16 16">
    <path fill-rule="evenodd" d="M14.5 1.5a.5.5 0 0 1 .5.5v4.8a2.5 2.5 0 0 1-2.5 2.5H2.707l3.347 3.346a.5.5 0 0 1-.708.708l-4.2-4.2a.5.5 0 0 1 0-.708l4-4a.5.5 0 1 1 .708.708L2.707 8.3H12.5A1.5 1.5 0 0 0 14 6.8V2a.5.5 0 0 1 .5-.5"/>
</svg>
<a href="/choose_analysis" class="link-light link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover"> Back for more analysis on a different number of genomes</a>

<hr width="100%" size="4" color="#2c2c2c" noshade> 

<h4 style="color: #dc3545;">ALL GENOMES ANALYSIS</h4>
    <form method="POST">

        <p>Select the analysis:</p>
        <p><input type="radio" name="analysis_type" value="general_all"> General comparison of GC contents and lengths</p>
        <p><input type="radio" name="analysis_type" value="motifs_all"> Search for motif across all sequences</p>
        <p>Motif sequence: <input name="motif"></p>
        <p class="small text-center"><i>e.g. ACCTTA</i></p>
        <button type="button" onclick="clearSelection(['analysis_type'])"> Clear Selection</button>
        <input type=submit value=Submit>
        </form>
<p></p>     

<script>
const clearSelection = (names) => {
    names.forEach((name) => {
        const radioBtns = document.querySelectorAll("input[type='radio'][name='" + name + "']");
        radioBtns.forEach((radioBtn) => {
            if (radioBtn.checked === true) {
                radioBtn.checked = false;
            }
        });
    });
};
</script>
{% endblock %}
