{% extends 'base.html' %}
{% block title %}Choose Analysis{% endblock %}

{% block content %}
      <p > The names of genomes present in the file are:</p>
      <p style="color:#ffc107;">{{result}}</p> </br>

      <h3>What type of analysis do you want to do?</h3> 

      <div class="container text-center">
            <div class="row align-items-center">

              <div class="col">
                  <h4 style="color: #dc3545;">Individual genome analysis</h4>
                  <p>Select the name of the genome you want to analyze:</p>

                   <form method="POST">
                        <p>Genome name: <input name = "seq_ID"></p>
                        <hr width="100%" size="4" color="#2c2c2c" noshade>
                        <p><input type="radio" name="analysis_type" value="GC"> Calculate GC content</p>
                        <p><input type="radio" name="analysis_type" value="lenght"> Calculate sequence length</p>
                        <input type=submit value=Submit>
                        
                        
<!-- 
                        <p>Select the analysis:</p>

                        <p><input type="radio" name="analysis" value="subseq"> Extract subsequence</p>
                        <p>Start at index: <input name = "start"></p>
                        <p>Stop at index: <input name = "stop"></p>
                        <p><input type="radio" name="analysis" value="GC"> Calculate GC content</p>
                        <p><input type="radio" name="analysis" value="lenght"> Calculate sequence length</p>
                        <p><input type="radio" name="analysis" value="motif"> Seach for given motif and count occurences</p> 
                        <p>Motif sequence: <input name = "motif"></p>

                        <button type="button" onclick="clearSelection(['analysis1','analysis2','analysis3','analysis4'])"> Clear Selection</button>
                        <input type=submit value=Submit>
                   </form>
              </div>

              <div class="col">
                  <h4 style="color: #dc3545;">Compare 2 genomes</h4>
                  <p>Select the names of the genomes you want to analyze:</p>
                  <form method="POST">
                        <p>Genome 1: <input name = "genome_1"></p>
                        <p>Genome 2: <input name = "genome_2"></p>
                        <hr width="100%" size="4" color="#2c2c2c" noshade>

                        <p>Select the analysis:</p>

                        <p><input type="radio" name="analysis5" value="general"> General comparison</p>
                        <button type="button" onclick="clearSelection(['analysis5'])"> Clear Selection</button>
                        <input type=submit value=Submit>
                   </form>
              </div>
      <p></p>     
             -->
      
      <script>
      const clearSelection = (names) => {
             names.forEach((name) => {
                  const radioBtns = document.querySelectorAll("input[type='radio'][name='" + name + "']");
                  radioBtns.forEach((radioBtn) => {
            if (radioBtn.checked === true) {
                  radioBtn.checked = false;
                  }
               });
            });
      };    
      </script>


{% endblock %}


