{% extends 'base.html' %}
{% block title %}Choose Analysis{% endblock %}

{% block content %}
<p>The names of genomes present in the file are:</p>
<p style="color:#bee3ff;">{{result_names}}</p> <br/>
<p style="color:#bee3ff;">{{result_2}}</p> <br/>


<hr width="100%" size="4" color="#2c2c2c" noshade>                        

<h3 style="color: #dc3545;">How many genomes do you want to analyze?</h3>  <br/>

      <form method="POST">
            <p>Select the number of genomes from the file to be analyzed:</p>

            <div class="container-sm mx-auto mt-3" style="max-width: 600px;">
                  {% for message in get_flashed_messages() %}
                      <div class="alert alert-warning text-center" role="alert">
                          {{ message }}
                      </div>
                  {% endfor %}
            </div>

                        <p><input type="radio" name="genomes_number" value="one"> One genome</p>
                        <p><input type="radio" name="genomes_number" value="two"> Two genomes</p>
                        <p><input type="radio" name="genomes_number" value="all"> All genomes</p>
                        <input type=submit value=Submit>
      </form>

{% endblock %}
