{% extends 'base.html' %}
{% block title %}Home Page{% endblock %}

{% block content %}   

    <p>Analyze your mithocondrial genomes! </br> Upload your file and then choose the type of analysis you want to do.<br>
        You can perfom single genome analysis, including: extracting a subsequence, calculating the GC content or length and
          searching for motifs.</br>
          OR</br>
        Compare different sequences of mitochondrial DNA and find out: ...  
        </p>
    </br>
    <hr width="50%" size="4" color="#2c2c2c" noshade>

    <h3 style="color: #dc3545;">Upload the Genome file</h3></br>
    <form method='POST' enctype=multipart/form-data>
        <input type=file name=file>
        <input type=submit value=Submit>
    </form></br>
    <p><i>File extensions supported: .fasta, .txt</i></p></br>



{% endblock %}